
<!--
  This component controls navigation to logout, access a user profile, and return to home
-->
<div class="navigation-container">
  <h1 class="logo">myFlix</h1>
  <ul class="navgation">
    <li>
      <button
      mat-button
      class="button"
      (click)="mainView()"
      >Home</button>
    </li>
    <li>
      <button
      mat-button
      class="button"
      (click)="userProfile()"
      >Profile
      </button>
    </li>
    <li>  
      <button
      mat-button
      class="button"
      (click)="logout()"
      >Logout
      </button>
    </li>
  </ul>  
</div>