<!DOCTYPE html>
<body class="body">
  <app-navigation-card></app-navigation-card>
  <div class="display">
    <div class="movie-card" *ngFor="let movie of movies;">
        <div class="movie-card-image-container">
          <img class="movie-card-image" src={{movie.ImagePath}} alt= {{movie.Title}} />
        </div>
        <div class="movie-card-title">
          <h1>{{movie.Title}}</h1>
          <p>Directed by: {{movie.Director.Name}}</p>
        </div>
            <mat-card-actions class="actions">
            <button
              (click)="getGenre(movie.Genre.Name, movie.Genre.Description)"
                mat-button
                color="primary"
            >
                Genre
            </button>
            <button
            (click)="getDirector(movie.Director.Name, movie.Director.Birth, movie.Director.Death, movie.Director.Bio)"
                mat-button
                color="primary"
            >
                Director
            </button>
            <button
            (click)="getSynopsis(movie.Title, movie.Description)"
                mat-button
                color="primary"
            >
                Synopsis
            </button>
            <button
            (click)="addFavorite(movie._id, movie.Title)"
            color="primary"
            mat-button
            >
              <mat-icon>
                favorite_border
              </mat-icon>
            </button>
        </mat-card-actions>
      </div>
  </div>
</body>