.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  background-color: white;
  margin: 5px 10px;
  width: auto;
  max-width: 250px;
  height: auto;
  border: solid black 10px;
  box-shadow: 10px 10px 20px;
}

.movie-card-image {
  position: relative;
  width: 225px;
  margin: 0 auto;
  border: solid white 10px;
}

.movie-card-title {
  text-align: center;
  margin: 0;
  h1 {
  font-weight: bold;
  }
} 

.actions {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}
