<!--
  This component is diplayed upon login, it is the main view of the application.
  All movies are displayed here, each on their individual card. 
  Each card contains actions including Director infomration, Genre information, and Synopsis
  A user can also add each movie to their list of favorites
-->
<body class="body">
  <!--
    navigation component is displayed at the top of the main view
  -->
  <app-navigation-card></app-navigation-card>
  <div class="display">
    <!--
      *ng For directive is used to display each movie fetched on their respective card. 
    -->
    <div class="movie-card" *ngFor="let movie of movies;">
        <div class="movie-card-image-container">
          <img class="movie-card-image" src={{movie.ImagePath}} alt= {{movie.Title}} />
        </div>
        <div class="movie-card-title">
          <h1>{{movie.Title}}</h1>
          <p>Directed by: {{movie.Director.Name}}</p>
        </div>
            <mat-card-actions class="actions">
            <button
              (click)="getGenre(movie.Genre.Name, movie.Genre.Description)"
                mat-button
                color="primary"
            >
                Genre
            </button>
            <button
            (click)="getDirector(movie.Director.Name, movie.Director.Birth, movie.Director.Death, movie.Director.Bio)"
                mat-button
                color="primary"
            >
                Director
            </button>
            <button
            (click)="getSynopsis(movie.Title, movie.Description)"
                mat-button
                color="primary"
            >
                Synopsis
            </button>
            <button
            (click)="addFavorite(movie._id, movie.Title)"
            color="primary"
            mat-button
            >
              <mat-icon>
                favorite_border
              </mat-icon>
            </button>
        </mat-card-actions>
      </div>
  </div>
</body>