<!--
  This component is the profile view of the application
  It displays profile infomration as well as a link to update such information and delete the user
  It also displays the list of favorites added by the user and enables the user to remove 
  a movie from their list of favorites
-->
<body class="body">
  <app-navigation-card class="navigation"></app-navigation-card>
  <div class="display">
    <div class="profile">
      <div class="profile-info">
        <p>Username: {{user.Username}}</p>
        <p>Email: {{user.Email}}</p>
      </div>
      <div class="profile-buttons">
        <button
        (click)="openUpdateProfileDialog()"
        mat-button
        color="primary">
        Update User Info
        </button>
        <button
        (click)="deleteUser()"
        mat-button
        color="primary">
        Delete User Account</button>
      </div>
    </div>

    <div class="favorites-title">
      <h1>Your Favorites</h1>
    </div>

    <div class="display">
      
      <div class="favorite-card" *ngFor="let favorite of favorites;">
          <mat-card-header>
            <img class="favorite-card-image" src={{favorite.ImagePath}} alt= {{favorite.Title}} />
          </mat-card-header>
          <div class="favorite-card-title">
            <h1>{{favorite.Title}}</h1>
            <p class="favorite-card-subtitle">Directed by: {{favorite.Director.Name}}</p>
          </div>
              <div class="actions">
              <button
                (click)="getGenre(favorite.Genre.Name, favorite.Genre.Description)"
                  mat-button
                  color="primary"
              >
                  Genre
              </button>
              <button
              (click)="getDirector(favorite.Director.Name, favorite.Director.Birth, favorite.Director.Death, favorite.Director.Bio)"
                  mat-button
                  color="primary"
              >
                  Director
              </button>
              <button
              (click)="getSynopsis(favorite.Title, favorite.Description)"
                  mat-button
                  color="primary"
              >
                  Synopsis
              </button>
              <button
              (click)="deleteFavorite(favorite._id, favorite.Title)"
              mat-button
              color="primary"
              >
              <mat-icon>favorite_border</mat-icon>
              </button>
            </div>
        </div>
    </div>
  </div>
</body>